<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
 <title>Smarthome</title>
 <link rel="stylesheet" href="../static/iot.min.css" />
 <link rel="shortcut icon" href="#" />
 <script src="../static/jquery-3.3.1.min.js"></script>
 <script src="../static/jscolor.js"></script>
 <script src="../static/tinycolor-min.js"></script>
 <style type="text/css">
  .g {
   background-color: darkgray;
   border-radius: 0.5em;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
  }

  .grey {
   background-color: #ecebeb !important;
  }

  pre {
   margin-top: 2em;
   margin-bottom: 2em;
  }

 </style>
 
</head>

<body>
 <div id="loader" class="loader hide"></div>
 <div id="sideNav" class="sidenav">
  <span href="javascript:void(0)" class="close" onclick="document.getElementById('sideNav').classList.toggle('open');">&times;</span>
  <div class="in"></div>
  <a href="#light">Освещение</a>
  <a href="#rgb">RGB</a>
 </div>
 <div class="sideopen warning"><a onclick="document.getElementById('sideNav').classList.toggle('open');">&equiv;</a></div>
 <ul class="nav fix warning" id="topNav">
  <li><a href="/" class="brand">Smarthome</a></li>
  <li><a href="#light">Освещение</a></li>
  <li><a href="#rgb">RGB</a></li>
  <!-- <li class="-exit"><a href="#" id="btn_exit" onclick="logout()">Exit</a></li> -->
  <li class="-icon"><a href="#" onclick="document.getElementById('topNav').classList.toggle('res');">&equiv;</a></li>
 </ul>
 
    <a name="light"><br/><br/></a>
    <h1>Освещение</h1>
    <div class="row">
     <div class="s12 m4">
      <div class="group purple">
          <input type="radio" name="light/lobby" value="1" onchange="mqttpub(this.name,this.value)" id="on">
       <label for="on">ВКЛ</label>
       <input type="radio" name="light/lobby" value="0" onchange="mqttpub(this.name,this.value)" id="off">
       <label for="off">ВЫКЛ</label><span>Зал:</span>
      </div>
     </div>
    </div>
    
    <a name="rgb"><br/><br/></a>
    <h1>RGB</h1>
    <div class="row">
        <div class="group">
            <input class="jscolor" id="rgbkitchencolor" type="text" name="rgb/kitchen" onchange="setColor(this.value)">
            <label for="rgbkitchencolor">Цвет</label>
        </div>
        <div class="group">
            <button class="primary" onclick="mqttpub('rgb/kitchen','C000000000000')">ВЫКЛ</button>
        </div>
    </div>
    <div class="s12 m4 group">
        <input type="checkbox" class="checkbox" name="rgb/kitchen" id="rgbkitchensensor" onchange="switchMovesensor(this)" />
        <label for="rgbkitchensensor">Датчик движения</label>
    </div> 
    <div class="group" style="min-width:200px;">
        <input type="number" name="number" id="num" required=" " min="0" max="255" value="" onchange="setMovesensorTimeout(this)">
        <label for="num">Автоотключение, мин.</label>
    </div>
    </div>
    
    
    
    <div id="configs" hidden>{{config}}</div> 
    <script>     
     function setDefaults(config){
         $("input[type=radio]").each(function(index){
             if (config[this.name] === "1" && this.id === "on")
                this.checked = true;
             else if (config[this.name] === "0" && this.id === "off")
                this.checked = true;
             else
                this.checked = false;
         })
         
         $("input[class=jscolor]").each(function(index){
             this.value = getColor(config['rgb/kitchen']);
         })
         
         $("input[type=checkbox]").each(function(index){
            
         })
     }

     function mqttpub(topic, msg) {
         $.getJSON('/mqttpub', {
	         topic: topic,
             msg: msg
	     });
     }
     
     function setColor(color) {
        var clr = tinycolor(color).toRgb();
        var clrstr = "C" + cc(clr.r) + cc(clr.g) + cc(clr.b);
        mqttpub("rgb/kitchen", clrstr);
     }
     
     function cc(c) {
        return ("0000" + Math.round(1023/255*c).toString()).slice(-4);
     }
     
     function getColor(color) {
        var cg = color.substr(1).match(/.{1,4}/g);
        return dc(cg[0]) + dc(cg[1]) + dc(cg[2]);
     }
     
     function dc(c) {
        var cn = parseInt(c);
        var res = Math.round(cn/(1023/255)).toString(16)
        return res.length == 1 ? "0" + res : res;
     }
     
     function switchMovesensor(obj) {
        mqttpub(obj.name, "M"+(obj.checked ? "1" : "0"));
     }
     
     function setMovesensorTimeout(obj) {
        mqttpub(obj.name, "D"+(obj.value*60000000).toString());
     }
     
     var config = JSON.parse($("#configs").text());
     setDefaults(config);

    </script>
    
</body>
</html>
