<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
 <title>Smarthome</title>
 <link rel="stylesheet" href="../static/iot.min.css"/>
 <link rel="shortcut icon" href="#" />
 <script src="../static/jquery-3.3.1.min.js"></script>
 <script src="../static/jscolor.js"></script>
 <script src="../static/tinycolor-min.js"></script>
 <style type="text/css">
  .g {
   background-color: darkgray;
   border-radius: 0.5em;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
  }

  .grey {
   background-color: #ecebeb !important;
  }

  pre {
   margin-top: 2em;
   margin-bottom: 2em;
  }
  
  input[type="number"] {
    width: 200px;
  }

 </style>
 
</head>

<body>
 <div id="loader" class="loader hide"></div>
 <div id="sideNav" class="sidenav">
  <span href="javascript:void(0)" class="close" onclick="document.getElementById('sideNav').classList.toggle('open');">&times;</span>
  <div class="in"></div>
  <a href="#sensor">Датчики</a>
  <a href="#curtain">Шторы</a>
  <a href="#light">Свет</a>
  <a href="#split">Сплит</a>
  <a href="#rgb">RGB</a>
  <a href="#aschedule">Расписание</a>
 </div>
 <div class="sideopen warning"><a onclick="document.getElementById('sideNav').classList.toggle('open');">&equiv;</a></div>
 <ul class="nav fix warning" id="topNav">
  <li><a href="/" class="brand">Smarthome</a></li>
  <li><a href="#sensor">Датчики</a></li>
  <li><a href="#curtain">Шторы</a></li>
  <li><a href="#light">Свет</a></li>
  <li><a href="#split">Сплит</a></li>
  <li><a href="#rgb">RGB</a></li>
  <li><a href="#aschedule">Расписание</a></li>
  <!-- <li class="-exit"><a href="#" id="btn_exit" onclick="logout()">Exit</a></li> -->
  <li class="-icon"><a href="#" onclick="document.getElementById('topNav').classList.toggle('res');">&equiv;</a></li>
 </ul>
 
    <a name="sensor"><br/><br/></a>
    <h1>Датчики</h1>
    <ul id="sensorContainer" class="l-g"></ul>
    
    <a name="curtain"><br/><br/></a>
    <h1>Шторы</h1>
    <div class="row">
     <div class="s12 m4">
      <div class="group purple onoff">
          <input type="radio" name="curtain/hall" value="1" onchange="processCurtain(this)" id="curtainhallclose" data-command="curtain" data-steps="19300" />
       <label for="curtainhallclose">Закрыть</label>
       <input type="radio" name="curtain/hall" value="0" onchange="processCurtain(this)" id="curtainhallopen" data-command="curtain" data-steps="19000" />
       <label for="curtainhallopen">Открыть</label><span><b>Зал:</b></span>
      </div>
     </div>
    </div>
    
    <div class="row">
     <div class="s12 m4">
      <div class="group purple onoff">
          <input type="radio" name="curtain/childroom" value="1" onchange="processCurtain(this)" id="curtainchildclose" data-command="curtain" data-steps="20900" />
       <label for="curtainchildclose">Закрыть</label>
       <input type="radio" name="curtain/childroom" value="0" onchange="processCurtain(this)" id="curtainchildopen" data-command="curtain" data-steps="20000" />
       <label for="curtainchildopen">Открыть</label><span><b>Детская:</b></span>
      </div>
     </div>
    </div>
    
    <a name="light"><br/><br/></a>
    <h1>Свет</h1>
    <div class="s12 m4 group">
        <input type="checkbox" class="checkbox" name="lightcloud/childroom" id="lightcloudchildroompower" onchange="switchCheckBox(this)" data-command="power" />
        <label for="lightcloudchildroompower">Детская: Тучка</label>
    </div>
    <div class="s12 m4 group">
        <input type="checkbox" class="checkbox" name="lightcloud/childroom" id="lightcloudchildroomclap" onchange="switchCheckBox(this)" data-command="clap" />
        <label for="lightcloudchildroomclap">Детская: Переключение по хлопку</label>
    </div>
    
    <a name="split"><br/><br/></a>
    <h1>Сплит</h1>
    <div class="row">
        <div class="s12">
            <div class="group">
                <label for="sploff">Детская</label>
                <button class="primary" name="lightcloud/childroom" id="sploff" onclick="processSplit(this)">Выкл</button>
                <button class="primary" name="lightcloud/childroom" id="spltemp24" onclick="processSplit(this)">24°</button>
                <button class="primary" name="lightcloud/childroom" id="spltemp25" onclick="processSplit(this)">25°</button>
                <button class="primary" name="lightcloud/childroom" id="spltemp26" onclick="processSplit(this)">26°</button>
            </div>
        </div>
    </div>
    
    <a name="rgb"><br/><br/></a>
    <h1>RGB</h1>
    <div class="s12 m4 group">
        <input type="checkbox" class="checkbox" name="rgb/kitchen" id="rgbkitchenpower" onchange="switchCheckBox(this)" data-command="power" />
        <label for="rgbkitchenpower">Вкл/выкл</label>
    </div>
    <div class="group">
        <input type="color" id="tocolor" name="rgb/kitchen" onchange="setColor(this)">
        <label for="tocolor">Цвет</label>
    </div>
    <div class="s12 m4 group">
        <input type="checkbox" class="checkbox" name="rgb/kitchen" id="gradient" onchange="processGradient(this)" />
        <label for="gradient">Градиент</label>
    </div>
    <div id="rgbkitchengradientblock" style="display: none;">
        <div class="group">
            <input type="color" id="fromcolor" name="rgb/kitchen" onchange="processGradient(this)" />
            <label for="fromcolor">с цвета</label>
        </div>
        <div class="group">
            <input type="number" name="rgb/kitchen" id="gradtime" data-multiplier="1" required=" " min="10" value="" onchange="processGradient(this)" />
            <label for="gradtime">Время градиента, мс</label>
        </div>
        <div class="group">
            <input type="number" name="rgb/kitchen" id="gradsteps" data-multiplier="1" required=" " min="1" value="" onchange="processGradient(this)" />
            <label for="gradsteps">Количество шагов градиента</label>
        </div> 
    </div>
    <div class="s12 m4 group">
        <input type="checkbox" class="checkbox" name="rgb/kitchen" id="rgbkitchendetectmove" onchange="switchCheckBox(this)" data-command="detectmove" />
        <label for="rgbkitchendetectmove">Датчик движения</label>
    </div> 
    <div class="group">
        <input type="number" name="rgb/kitchen" id="delaymove" data-multiplier="60000000" required=" " min="0" max="255" value="" onchange="editInput(this)" />
        <label for="delaymove">Автоотключение, мин.</label>
    </div>
    
    <a name="aschedule"><br/><br/></a>
    <h1>Расписание</h1>
    <table id="scheduleTable"></table>
    
    <div id="configs" hidden>{{config}}</div> 
    <div id="schedule" hidden>{{schedule}}</div>
    <div id="sensors" hidden>{{sensors}}</div>
    <script>     
     /*************CONSTANT*BEGIN***********/
     var dictSchedulePeriod = {daily:"Ежедневно",workday:"Рабочие дни",weekend:"Выходные дни",hour:"Каждый час",minute:"Каждую минуту",second:"Каждую секунду"};
     var dictCommands = {'curtain/hall':{'name':'Шторы зал','commands':[{'name':'Закрыть шторы','command':'{"curtain":true,"stepmoveto":19300}','tag':'curtainhallcloseschedule'},{'name':'Открыть шторы','command':'{"curtain":false,"stepmoveto":19000}','tag':'curtainhallopenschedule'}]},'curtain/childroom':{'name':'Шторы детская','commands':[{'name':'Закрыть шторы','command':'{"curtain":true,"stepmoveto":20900}','tag':'curtainchildcloseschedule'},{'name':'Открыть шторы','command':'{"curtain":false,"stepmoveto":20000}','tag':'curtainchildopenschedule'}]},'lightcloud/childroom':{'name':'Тучка','commands':[{'name':'Включить','command':'{"power":true}','tag':'childcloudonschedule'},{'name':'Выключить','command':'{"power":false}','tag':'childcloudoffschedule'}]},'sensor/req':{'name':'Датчики','commands':[{'name':'Получить данные','command':'{"getall":1}','tag':'allsensorsgetschedule'}]}};
     var dictLocations = {childroom:"Детская", hall:"Зал"};
     var cmdContainerId = 'tdCommandContainer';
     var tdCommandId = 'tdCommandId';
     var tdSelectTopicId = 'tdSelectTopicId';
     var strDivider = '$div$';
     var loaderId = '#loader';
     var scheduleTableId = '#scheduleTable';
     var tdSelectPeriodId = 'tdSelectPeriodId';
     /*************CONSTANT*END*************/
     
     var config = JSON.parse($("#configs").text());
     var scheduleJson = JSON.parse($("#schedule").text());
     var sensorsJson = JSON.parse($("#sensors").text());
     
     function setDefaults(config){
         $("input[type=checkbox]").each(function(index){
             try {
                this.checked = (config[this.name][this.dataset.command] == 1);
                if (this.checked) {
                    var showblock = this.dataset.showblock;
                    if (showblock) {
                        $(showblock).slideToggle('slow');
                    }
                }
             } catch (e) {
                console.log('Ошибка ' + e.name + ":" + e.message + "\n" + e.stack);
             }
         })
         
         $("input[type=color]").each(function(index){
             try {
                this.value = getColor(config[this.name][this.id]);
             } catch (e) {
                console.log('Ошибка ' + e.name + ":" + e.message + "\n" + e.stack);
             }
         })
         
         $("input[type=number]").each(function(index){
             try {
                this.value = parseInt(config[this.name][this.id]) / parseInt(this.dataset.multiplier);
             } catch (e) {
                console.log('Ошибка ' + e.name + ":" + e.message + "\n" + e.stack);
             }
         })
         
         $("input[type=time]").each(function(index){
             try {
                this.value = config[this.name][this.id];
             } catch (e) {
                console.log('Ошибка ' + e.name + ":" + e.message + "\n" + e.stack);
             }
         })
         
         $(".onoff input[type=radio]").each(function(index){
             try {
                if (this.value === "1") {
                  this.checked = config[this.name][this.dataset.command];
                } else {
                  this.checked = !config[this.name][this.dataset.command];
                }
             } catch (e) {
                console.log('Ошибка ' + e.name + ":" + e.message + "\n" + e.stack);
             }
         })
         
         $("#sideNav").find("a").click(function(){
            $("#sideNav").removeClass("open");
         });

         if (config["rgb/kitchen"].gradient == 1) {
            $("#rgbkitchengradientblock").slideToggle('slow');
         }
         
     }

     function mqttpub(topic, msg) {
         $(loaderId).removeClass('hide');
         $.getJSON('/mqttpub', {
	         topic: topic,
             msg: msg
	     }, function(resp) {
            $(loaderId).addClass('hide');
         });
     }
     
     function addTask(tag, msg) {
         $(loaderId).removeClass('hide');
         $.getJSON('/addtask',{
             tag: tag,
             msg: JSON.stringify(msg)
	     }, function(resp) {
            scheduleJson[tag] = msg;
            buildHtmlTable(scheduleTableId, scheduleJson);
            $(loaderId).addClass('hide');
         }); 
     }
     
     function delTask(tag) {
         $(loaderId).removeClass('hide');
         $.getJSON('/deltask', {
             tag: tag
	     }, function(resp) {
            delete scheduleJson[tag];
            buildHtmlTable(scheduleTableId, scheduleJson);
            $(loaderId).addClass('hide');
         });
     }
     
     function switchCheckBox(obj) {
        var json = {}
        json[obj.dataset.command] = (obj.checked ? 1 : 0);
        if (config.hasOwnProperty(obj.name)) {
            config[obj.name][obj.dataset.command] = json[obj.dataset.command];
        }
        mqttpub(obj.name, JSON.stringify(json));
     }
     
     function processSplit(obj) {
        var json = {}
        json[obj.id] = 1;
        mqttpub(obj.name, JSON.stringify(json));
     }
     
     function editInput(obj) {
        var json = {}
        var mlt = parseInt(obj.dataset.multiplier);
        json[obj.id] = parseInt(obj.value) * mlt;
        config[obj.name][obj.id] = json[obj.id]
        mqttpub(obj.name, JSON.stringify(json));
     }
     
     function getJsonColor(obj) {
        var clr = tinycolor(obj.value).toRgb();
        var json = {power:config[obj.name].power};
        json[obj.id] = {r:cc(clr.r), g:cc(clr.g), b:cc(clr.b)};
        return json;
     }
     
     function setColor(obj) {
        mqttpub(obj.name, JSON.stringify(getJsonColor(obj)));
     }
     
     function cc(c) {
        return Math.round(1023/255*c);
     }
     
     function getColor(c) {
        return '#' + dc(c.r) + dc(c.g) + dc(c.b);
     }
     
     function dc(c) {
        var cn = parseInt(c);
        var res = Math.round(cn/(1023/255)).toString(16)
        return res.length == 1 ? "0" + res : res;
     }
     
     function processGradient(obj) {
        if (obj.id === "gradient") {
            $("#rgbkitchengradientblock").slideToggle('slow');
        }
        var json = {gradient:($("#gradient").is(":checked") ? 1 : 0), gradtime:parseInt($("#gradtime").prop("value")), gradsteps:parseInt($("#gradsteps").prop("value")), gradloop:1};
        var fromcolor = getJsonColor($("#fromcolor")[0]);
        var tocolor = getJsonColor($("#tocolor")[0]);
        mqttpub(obj.name, JSON.stringify($.extend(json, fromcolor, tocolor)));
     }
     
     function getCurtainCommand(id) {
        var obj = $("#"+id)
        var json = {}
        json[obj.attr("data-command")] = (obj.attr("value") === "1");
        json["stepmoveto"] = parseInt(obj.attr("data-steps"));
        return JSON.stringify(json);
     }
     
     function processCurtain(obj) {
        mqttpub(obj.name, getCurtainCommand(obj.id));
     }

     function buildCommandSelect(container, topic) {
       $(container).empty();
       var commandSelect = $('<select/>', {id:tdCommandId});
       var commandList = dictCommands[topic].commands;
       for (var i = 0; i < commandList.length; i++) {
           commandSelect.append($('<option/>', {value:$("#"+tdSelectPeriodId+" :selected").val()+commandList[i].tag+strDivider+commandList[i].command}).html(commandList[i].name));
       }
       $(container).append(commandSelect);
     }
     
     function buildHtmlTable(selector, json) {
       $(selector).empty();
       // заголовки
       var headerTr$ = $('<tr/>');
       headerTr$.append($('<th/>').html("Периодичность"));
       headerTr$.append($('<th/>').html("Время"));
       headerTr$.append($('<th/>').html("Название"));
       headerTr$.append($('<th/>').html("Устройство"));
       headerTr$.append($('<th/>').html("Команда"));
       headerTr$.append($('<th/>').html(""));
       $(selector).append(headerTr$);

        // даннтые таблицы
       for (var keytag in json) {
         var row$ = $('<tr/>');
         row$.append($('<td/>').html(dictSchedulePeriod[json[keytag].type])); //Периодичность
         row$.append($('<td/>').html(json[keytag].time)); //Время
         row$.append($('<td/>').html(json[keytag].name)); //Название
         row$.append($('<td/>').html(json[keytag].topicname)); //Устройство
         row$.append($('<td/>').html(json[keytag].commandname)); //Команда
         var closeBtn = $('<button/>',
         {
            text: '-',
            click: (function (taskname) { 
                        return function (){
                            delTask(taskname);
                            buildHtmlTable(selector, scheduleJson);
                        };
                   })(keytag),
            class: 'info round small'
         });
         row$.append($('<td/>').html(closeBtn));
         $(selector).append(row$);
       }
       
       // поля ввода
       var rowInput$ = $('<tr/>');
       var periodSelect = $('<select/>',{id:tdSelectPeriodId});
       for (var keyp in dictSchedulePeriod) {
           periodSelect.append($('<option/>', {value:keyp}).html(dictSchedulePeriod[keyp]));
       }
       periodSelect.change(function(){
            buildCommandSelect("#"+cmdContainerId, $("#"+tdSelectTopicId+" :selected").val());
       });
       rowInput$.append($('<td/>').html(periodSelect));
       var timeInput = $('<input/>',{type:"time", name:"scheduletimeinput"});
       rowInput$.append($('<td/>').html(timeInput));
       var nameInput = $('<input/>',{type:"text"});
       rowInput$.append($('<td/>').html(nameInput));
       var topicSelect = $('<select/>',{id:tdSelectTopicId});
       
       topicSelect.change(function(){
            buildCommandSelect("#"+cmdContainerId, $("#"+tdSelectTopicId+" :selected").val());
       });
       for (var keyc in dictCommands) {
           topicSelect.append($('<option/>', {value:keyc}).html(dictCommands[keyc].name));
       }
       rowInput$.append($('<td/>').html(topicSelect));
       rowInput$.append($('<td/>',{id:cmdContainerId}));
       
       var addBtn = $('<button/>',
         {
            text: '+',
            click: function () {
                        var periodVal = $("#"+tdSelectPeriodId+" :selected").val();
                        var inptimeval = timeInput.val();
                        if (inptimeval || !(periodVal === "daily" || periodVal === "weekend" || periodVal === "workday")) {
                            var cmdtag = $("#"+tdCommandId+" :selected").val().split(strDivider);
                            var taskjson = {type:periodVal,time:inptimeval,topic:$("#"+tdSelectTopicId+" :selected").val(),topicname:$("#"+tdSelectTopicId+" :selected").text(),msg:cmdtag[1],commandname:$("#"+tdCommandId+" :selected").text(),name:nameInput.val()};
                            addTask(cmdtag[0], taskjson);
                        } else {
                            alert("Введите время!");
                        }
                   },
            class: 'info round small'
         });
       rowInput$.append($('<td/>').html(addBtn));
       $(selector).append(rowInput$);
       buildCommandSelect("#"+cmdContainerId, $("#"+tdSelectTopicId+" :selected").val());
     }
     
     function buildSensorsList(container, json) {
        $(container).empty();
        for (var keytag in json) {
            if (json[keytag].kind === "temperature") {
                $(container).append($('<li>').html("<b>"+dictLocations[json[keytag].location]+":</b> температура: "+json[keytag].temperature+"; влажность: "+json[keytag].humidity+"%; время замера: "+json[keytag].date));
            }
        }
     }

     jQuery(document).ready(function(){
        jQuery('.spoiler-text').hide();
        jQuery('.spoiler').click(function(){
            jQuery(this).toggleClass("folded").toggleClass("unfolded").next().slideToggle('slow');
        });
        setDefaults(config);
        buildSensorsList("#sensorContainer", sensorsJson);
        buildHtmlTable(scheduleTableId, scheduleJson);
     });

    </script>
    
</body>
</html>
