[Unit]
Description=RaspberryMonitor

[Service]
ExecStart=/usr/bin/python3 -u rasmon.py
Restart=always
User=pi
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
#Environment=PATH=/usr/bin:/usr/local/bin
#Environment=NODE_ENV=production
WorkingDirectory=/home/pi/scripts

[Install]
WantedBy=multi-user.target
