[Unit]
Description=Smarthome server
Wants=network-online.target
After=network-online.target mosquitto.service

[Service]
ExecStart="/home/pi/.pyenv/versions/3.7.6/bin/python3" -u app.py
Restart=always
User=pi
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
# Environment=PATH=/usr/bin:/usr/local/bin:/home/pi/.pyenv/bin
WorkingDirectory=/home/pi/websrv/

[Install]
WantedBy=multi-user.target
